<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/admin/general.css">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>‍ پنل مدیریت </title>
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
     crossorigin="anonymous">
    </script>

    <header>
        <%- include('../components/adminNavbar') -%>
    </header>

    <div class="container container-fluid">
        <div class="row ">
           
            <%- include('../components/adminLeftMenu') -%>

            <script>
                document.getElementById('addAdmin').style.backgroundColor = "rgba(4, 37, 36, 0.986)"
                document.getElementById('addAdmin').borderRadius = "5px"
            </script>

            <div class="col-10">
                <div class="col-11 mx-5 counter">
                    <div class="titleCounter">
                        <p>پیشخوان  >  مدیران سایت  >  افزودن مدیر</p>
                    </div>
                    <div class="d-flex justify-content-start parsianDate">
                       <p><%= persianDate %></p>
                    </div>
                </div>
                
                
                <div class="addAdmin col-11 my-5 mx-5">
                    <%- include('../components/validationError') -%>
                    <div class="addtitle my-3 mx-2 col-8">
                        <img src="/icons/plus-square-black.svg"  alt="افزودن مدیر ">
                        افزودن مدیر
                    </div>
                    
                    <div class="addBody col-9 mx-3">
                        <form action="/admin-cPanel/admin/newAdmin" method="post">
                            <div class="row g-2" >
                                <div class="mx-4 col-5">  
                                    <input type="text" class="form-control mt-3"  placeholder="نام" name="firstName">
                                    <input type="text" class="form-control mt-3"  placeholder="نام خانوادگی" name="lastName">
                                    <input type="email" class="form-control mt-3 enField"  placeholder="ایمیل" name="email">
                                    <select class="form-select mt-3" name="department">
                                        <option selected>مدیریت</option>
                                        <option value="پشتیبان سایت">پشتیبانی</option>
                                      </select>
                                      <input type="password" class="form-control mt-3 enField"
                                      placeholder="کلمه عبور" name="password" id="password">
                                            <i class="bi bi-eye-slash passwordEye" id="togglePassword"></i>

                                    <input type="password" class="form-control mt-3 enField"
                                      placeholder="تکرار کلمه عبور" name="confirmPassword" id="confirmPassword">
                                      <i class="bi bi-eye-slash confirmPasswordEye" id="toggleConfirmPassword"></i>
                                </div>

                                
                                <div class="mx-3 col-6">
                                    دسترسی ها :
                                    <br><br><br>
                                        <div class="form-check form-switch float-end my-1 me-5">
                                            <input type="checkbox" class="btn-check" id="btnAdmin" name="isAdmin" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnAdmin">مدیران</label><br>                                        
                                          </div>
                                          <div class="form-check form-switch float-end my-1 me-2">
                                            <input type="checkbox" class="btn-check" id="btnProduct" name="isProduct" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnProduct">محصولات</label><br>                                        
                                          </div>
                                          <div class="form-check form-switch float-end my-1 me-2">
                                            <input type="checkbox" class="btn-check" id="btnOrder" name="isOrder" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnOrder">سفارش ها</label><br>                                        
                                          </div>
                                          <div class="form-check form-switch float-end my-1 me-5">
                                            <input type="checkbox" class="btn-check" id="btnEmail" name="isEmail" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnEmail">ایمیل ها</label><br>                                        
                                          </div>
                                        <div class="form-check form-switch float-end my-1 me-2">
                                            <input type="checkbox" class="btn-check" id="btnReport" name="isReport" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnReport">گزارشات</label><br>                                        
                                          </div>
                                          <div class="form-check form-switch float-end my-1 me-2">
                                            <input type="checkbox" class="btn-check" id="btnTicket" name="isTicket" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnTicket">تیکت ها</label><br>                                        
                                          </div>
                                          <div class="form-check form-switch float-end my-1 me-5">
                                            <input type="checkbox" class="btn-check" id="btnCategory" name="isCategory" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnCategory">دسته بندی ها</label><br>                                        
                                          </div>
                                          <div class="form-check form-switch float-end my-1 me-2">
                                            <input type="checkbox" class="btn-check" id="btnUser" name="isUser" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnUser">کاربران</label><br>                                        
                                          </div>
                                          <div class="form-check form-switch float-end mt-1 mb-5 me-2">
                                            <input type="checkbox" class="btn-check" id="btnSetting" name="isSetting" value="on" autocomplete="off">
                                            <label class="btn btn-outline-success" for="btnSetting">تنظیمات</label><br>                                        
                                          </div> 
                                          <div class="mt-5 mx-5">
                                            <div class="col-8 mt-5 mx-5">
                                                <input type="submit" value="ثبت نام" class="mt-3 btn btn-success w-100">
                                            </div> 
                                        </div>                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer>
</footer>
</body>
</html>

<script>
    const togglePassword = document.querySelector("#togglePassword");
     const password = document.querySelector("#password");

     togglePassword.addEventListener("click", function () {
         // toggle the type attribute
         const type = password.getAttribute("type") === "password" ? "text" : "password";
         password.setAttribute("type", type);
         
         // toggle the icon
         this.classList.toggle("bi-eye");
     });
</script>

<script>
    const toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
    const confirmPassword = document.querySelector("#confirmPassword");

    toggleConfirmPassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
        confirmPassword.setAttribute("type", type);
        
        // toggle the icon
        this.classList.toggle("bi-eye");
    });
</script>

<script>
    const accHeading = document.querySelectorAll(".accordion");
    const accPanel = document.querySelectorAll(".accordion-panel");

    window.addEventListener('load', ()=> {
            showPanel(accHeading[0])
        }
    )

    for (let i = 0; i < accHeading.length; i++) {
        // Execute whenever an accordion is clicked 
        accHeading[i].onclick = function() {
            if (this.nextElementSibling.style.maxHeight) {
            hidePanels();     // Hide All open Panels 
            } else {
            showPanel(this);  // Show the panel
            } 
        }
    }

    // Function to Show a Panel
    function showPanel(elem) {
    hidePanels();
    elem.classList.add("active");
    elem.nextElementSibling.style.maxHeight = elem.nextElementSibling.scrollHeight + "px";
    }

    // Function to Hide all shown Panels
    function hidePanels() {
    for (let i = 0; i < accPanel.length; i++) {
        accPanel[i].style.maxHeight = null;
        accHeading[i].classList.remove("active");
    }
    }
  </script>

