<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/adminPanelCounter.css">
    <title>‍ پنل مدیریت </title>
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
     crossorigin="anonymous">
    </script>

    <header>
            <div class="container bg-light navbarPanel">
                <div class="title my-3">
                    <h2>مدیریت سایت</h2>
                </div>
              <div class="d-flex justify-content-end navbarItems">
                <img src="/pictures/menProfile.svg" class="mx-5 my-2 imageSize" alt="contact">
                <a href="#" class="position-relative my-2">
                  <img src="/icons/mail.svg" class="ms-3 my-3 iconSize" alt="mail">
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning my-3 text-light" 
                  style="width: 33px; padding: 5px;">
                    17
                    <span class="visually-hidden">unread messages</span>
                  </span> 
                </a>
                <a href="#" class="position-relative my-2">
                    <img src="/icons/shopping-bag.svg" class="ms-5 my-3 iconSize" alt="shopping-bag">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning my-3 text-light" 
                    style="width: 33px; padding: 5px;">
                      23
                      <span class="visually-hidden">unread messages</span>
                    </span> 
                  </a>  
            </div>
            </div>
    </header>

    <div class="container container-fluid">
        <div class="row ">
            <div class="col-2 sideMenu bg-secondary text-light">

                <div class="row row-cols-1">
                    <div class="col picureLogo">
                        <img src="/pictures/menProfile.svg" alt="profile" class="profileLogo">
                    </div>

                    <a href="/admin-cPanel/counter">
                        <div class="col items selectedMenu" data-bs-toggle="collapse">
                            <div class="mt-2 mx-1" style="display: inline-block;">
                                <img src="/icons/home.svg" alt="home">
                            </div>
                            <div style="display: inline-block;" class="my-3 mx-1">
                                <p>پیشخوان</p>
                            </div>
                        </div>
                    </a>

                    <div class="col items" data-bs-toggle="collapse" href="#collapseAdmin"
                     role="button" aria-expanded="false" aria-controls="collapseAdmin">
                        <div class="mt-2 mx-1" style="display: inline-block;">
                            <img src="/icons/user-check.svg" alt="admin">
                        </div>
                        <div style="display: inline-block;" class="my-3 mx-1">
                            <p>مدیران سایت</p>
                        </div>
                    </div>
                    <a href="/admin-cPanel/admin/showAdmins">
                        <div class="collapse" id="collapseAdmin">
                            <div class="col items">
                              <div class="mt-2 me-4" style="display: inline-block;">
                                  <img src="/icons/users.svg" alt="users">
                              </div>
                              <div style="display: inline-block;" class="my-2 mx-1">
                                  <p>مدیران سایت</p>
                              </div>
                        </div>      
                    </a>
                    <a href="/admin-cPanel/admin/newAdmin">
                        <div class="col items" >
                        <div class="mt-2 me-4" style="display: inline-block;">
                            <img src="/icons/user-plus.svg" alt="addAdmin">
                        </div>
                            <div style="display: inline-block;" class="my-2 mx-1">
                                <p>افزودن مدیر</p>
                            </div>    
                        </div>
                       </a>    
                      </div>

                      <div class="col items" data-bs-toggle="collapse" href="#collapseUser"
                      role="button" aria-expanded="false" aria-controls="collapseUser">
                        <div class="mt-2 mx-1" style="display: inline-block;">
                            <img src="/icons/user.svg" alt="user">
                        </div>
                        <div style="display: inline-block;" class="my-3 mx-1">
                            <p>کاربران سایت</p>
                        </div>
                    </div>
                   <a href="/admin-cPanel/user/showUsers">
                    <div class="collapse" id="collapseUser">
                        <div class="col items">
                          <div class="mt-2 me-4" style="display: inline-block;">
                              <img src="/icons/users.svg" alt="users">
                          </div>
                          <div style="display: inline-block;" class="my-2 mx-1">
                              <p>کاربران سایت</p>
                          </div>
                        </div>
                   </a>
                        <a href="/admin-cPanel/user/newUser">
                            <div class="col items" >
                                <div class="mt-2 me-4" style="display: inline-block;">
                                    <img src="/icons/user-plus.svg" alt="addUser">
                                </div>
                                <div style="display: inline-block;" class="my-2 mx-1">
                                    <p>افزودن کاربر</p>
                                </div>
                              </div>
                        </a>
                    </div>

                    <div class="col items" data-bs-toggle="collapse" href="#collapseCategory"
                    role="button" aria-expanded="false" aria-controls="collapseCategory">
                        <div class="mt-2 mx-1" style="display: inline-block;">
                            <img src="/icons/category.svg" alt="category">
                        </div>    
                        <div style="display: inline-block;" class="my-3 mx-1">
                            <p>دسته بندی ها</p>
                        </div>
                    </div>
                    <div class="collapse" id="collapseCategory">
                        <a href="/admin-cPanel/category/showCategories">
                            <div class="col items">
                                <div class="mt-2 me-4" style="display: inline-block;">
                                    <img src="/icons/categoryMini.svg" alt="users">
                                </div>
                                <div style="display: inline-block;" class="my-2 mx-1">
                                  <p>دسته بندی ها</p>
                                </div>
                              </div>
                        </a>
                        <a href="/admin-cPanel/category/newCategory">
                            <div class="col items" >
                                <div class="mt-2 me-4" style="display: inline-block;">
                                    <img src="/icons/plus-square.svg" alt="addCategory">
                                </div>
                                <div style="display: inline-block;" class="my-2 mx-1">
                                    <p>افزودن دسته بندی</p>
                                </div>
                              </div>
                        </a>
                    </div>

                    <div class="col items" data-bs-toggle="collapse" href="#collapseProduct"
                    role="button" aria-expanded="false" aria-controls="collapseProduct">
                        <div class="mt-2 mx-1" style="display: inline-block;">
                            <img src="/icons/product.svg" alt="product">
                        </div>
                        <div style="display: inline-block;" class="my-3 mx-1">
                            <p>محصولات</p>
                        </div>
                    </div>
                    <div class="collapse" id="collapseProduct">
                       <a href="/admin-cPanel/product/showProducts">
                        <div class="col items">
                            <div class="mt-2 me-4" style="display: inline-block;">
                                <img src="/icons/productMini.svg" alt="products">
                            </div>
                            <div style="display: inline-block;" class="my-2 mx-1">
                              <p>محصولات</p>
                            </div>
                          </div>
                       </a>
                        <a href="/admin-cPanel/product/newProduct">
                            <div class="col items" >
                                <div class="mt-2 me-4" style="display: inline-block;">
                                    <img src="/icons/plus-square.svg" alt="addProduct">
                                </div>
                                <div style="display: inline-block;" class="my-2 mx-1">
                                    <p>افزودن محصول</p>
                                </div>
                              </div>
                        </a>
                    </div>

                    <div class="col items" data-bs-toggle="collapse" href="#collapseCard"
                    role="button" aria-expanded="false" aria-controls="collapseCard">
                        <div class="mt-2 mx-1" style="display: inline-block;">
                            <img src="/icons/credit-card.svg" alt="card">
                        </div>
                        <div style="display: inline-block;" class="my-3 mx-1">
                            <p> کارت ها </p>
                        </div>
                    </div>
                    <div class="collapse" id="collapseCard">
                       <a href="">
                        <div class="col items">
                            <div class="mt-2 me-4" style="display: inline-block;">
                                <img src="/icons/credit-card.svg" alt="card">
                            </div>
                            <div style="display: inline-block;" class="my-2 mx-1">
                              <p> کارت ها </p>
                            </div>
                          </div>
                       </a>
                        <a href="/admin-Cpanel/card/newCard">
                            <div class="col items" >
                                <div class="mt-2 me-4" style="display: inline-block;">
                                    <img src="/icons/plus-square.svg" alt="addCard">
                                </div>
                                <div style="display: inline-block;" class="my-2 mx-1">
                                    <p> افزودن کارت </p>
                                </div>
                              </div>
                        </a>
                    </div>
                    
                    <div class="col items">
                        <div class="mt-2 mx-1" style="display: inline-block;">
                            <img src="/icons/inbox.svg" alt="email">
                        </div>

                        <div style="display: inline-block;" class="my-3 mx-1">
                            <p>ایمیل ها</p>
                        </div>
                    </div>
                    <div class="col items">
                        <div class="mt-2 mx-1" style="display: inline-block;">
                            <img src="/icons/message-square.svg" alt="ticket">
                        </div>

                        <div style="display: inline-block;" class="my-3 mx-1">
                            <p>تیکت ها</p>
                        </div>
                    </div>
                    <div class="col items">
                        <div class="mt-3 mx-1" style="display: inline-block; height: 100%;">
                            <img src="/icons/pie-chart.svg" alt="report">
                        </div>

                        <div style="display: inline-block;" class="mt-3 mx-1">
                            <p>گزارش گیری</p>
                        </div>
                    </div>
                    <div class="col items">
                        <div class="mt-3 mx-1" style="display: inline-block; height: 100%;">
                            <img src="/icons/settings.svg" alt="settings">
                        </div>
                  

                        <div style="display: inline-block;" class="mt-3 mx-1">
                            <p>تنظیمات</p>
                        </div>
                    </div>
                    <div class="col items"></div>
                </div>
            </div>

            <div class="col-10">
                <div class="col-11 mx-5 counter">
                    <div class="titleCounter">
                        <p>پیشخوان</p>
                    </div>
                    <div class="d-flex justify-content-start parsianDate">
                       <p><%= persianDate %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>
