<div class="col-2 sideMenu text-light">

    <div class="row row-cols-1">
        <div class="picureLogo">
            <img src="/pictures/menProfile.svg" alt="profile" class="profileLogo">
        </div>

        <a href="/user-cPanel/counter" class="items" id="counter">
                <span class="mt-2 mx-1" style="display: inline-block;">
                    <img src="/icons/home.svg" alt="home" class="ms-2">
                    پیشخوان
                </span>
        </a>

        <a href="/user-cPanel/profile" class="items" id="userProfile">
            <span class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/user.svg" alt="home" class="ms-2">
                پروفایل
            </span>
        </a>
        
          <div class="items accordion">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/message-square.svg" alt="tickets">
            </div>
            <div style="display: inline-block;" class="my-3 mx-1">
                <p> تیکت ها </p>
            </div>
        </div>
        <div class="accordion-panel">
            <a href="/user-cPanel/ticket/showTickets">
                    <div class="subItems" id="showTickets">
                      <div class="mt-2 me-4" style="display: inline-block;">
                          <img src="/icons/message-square.svg" alt="tickets">
                      </div>
                      <div style="display: inline-block;" class="my-2 mx-1">
                          <p> تیکت ها </p>
                      </div>
                    </div>
            </a>
                    <a href="/user-cPanel/ticket/newTicket">
                        <div class="subItems" id="addTicket" >
                            <div class="mt-2 me-4" style="display: inline-block;">
                                <img src="/icons/plus-square.svg" alt="addTicket">
                            </div>
                            <div style="display: inline-block;" class="my-2 mx-1">
                                <p>افزودن تیکت</p>
                            </div>
                          </div>
                    </a>
        </div>
        

        <!-- <div class="items accordion">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/category.svg" alt="category">
            </div>    
            <div style="display: inline-block;" class="my-3 mx-1">
                <p>دسته بندی ها</p>
            </div>
        </div>
        <div class="accordion-panel">
            <a href="/admin-cPanel/category/showCategories">
                <div class="subItems" id="showCategories">
                    <div class="mt-2 me-4" style="display: inline-block;">
                        <img src="/icons/categoryMini.svg" alt="users">
                    </div>
                    <div style="display: inline-block;" class="my-2 mx-1">
                        <p>دسته بندی ها</p>
                    </div>
                </div>
            </a>
            <a href="/admin-cPanel/category/newCategory">
                <div class="subItems" id="addCategory" >
                    <div class="mt-2 me-4" style="display: inline-block;">
                        <img src="/icons/plus-square.svg" alt="addCategory">
                    </div>
                    <div style="display: inline-block;" class="my-2 mx-1">
                        <p>افزودن دسته بندی</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="items accordion">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/product.svg" alt="product">
            </div>
            <div style="display: inline-block;" class="my-3 mx-1">
                <p>محصولات</p>
            </div>
        </div>
        <div class="accordion-panel">
           <a href="/admin-cPanel/product/showProducts">
            <div class="subItems" id="showProducts">
                <div class="mt-2 me-4" style="display: inline-block;">
                    <img src="/icons/productMini.svg" alt="products">
                </div>
                <div style="display: inline-block;" class="my-2 mx-1">
                  <p>محصولات</p>
                </div>
              </div>
           </a>
            <a href="/admin-cPanel/product/newProduct">
                <div class="subItems" id="addProduct">
                    <div class="mt-2 me-4" style="display: inline-block;">
                        <img src="/icons/plus-square.svg" alt="addProduct">
                    </div>
                    <div style="display: inline-block;" class="my-2 mx-1">
                        <p>افزودن محصول</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="items accordion">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/credit-card.svg" alt="card">
            </div>
            <div style="display: inline-block;" class="my-3 mx-1">
                <p> کارت ها </p>
            </div>
        </div>
        <div class="accordion-panel">
           <a href="/admin-cPanel/card/showCards">
            <div class="subItems" id="showCards">
                <div class="mt-2 me-4" style="display: inline-block;">
                    <img src="/icons/credit-card.svg" alt="card">
                </div>
                <div style="display: inline-block;" class="my-2 mx-1">
                  <p> کارت ها </p>
                </div>
              </div>
           </a>
            <a href="/admin-Cpanel/card/newCard">
                <div class="subItems" id="addCard" >
                    <div class="mt-2 me-4" style="display: inline-block;">
                        <img src="/icons/plus-square.svg" alt="addCard">
                    </div>
                    <div style="display: inline-block;" class="my-2 mx-1">
                        <p> افزودن کارت </p>
                    </div>
                  </div>
            </a>
        </div>
        
        <div class="items accordion">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/inbox.svg" alt="email">
            </div>
            <div style="display: inline-block;" class="my-3 mx-1">
                <p>ایمیل ها</p>
            </div>
        </div>
        <div class="items">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/message-square.svg" alt="ticket">
            </div>
            <div style="display: inline-block;" class="my-3 mx-1">
                <p>تیکت ها</p>
            </div>
        </div>
        <div class="items">
            <div class="mt-3 mx-1" style="display: inline-block; height: 100%;">
                <img src="/icons/pie-chart.svg" alt="report">
            </div>

            <div style="display: inline-block;" class="mt-3 mx-1">
                <p>گزارش گیری</p>
            </div>
        </div>
        <div class="items">
            <div class="mt-3 mx-1" style="display: inline-block; height: 100%;">
                <img src="/icons/settings.svg" alt="settings">
            </div>
      

            <div style="display: inline-block;" class="mt-3 mx-1">
                <p>تنظیمات</p>
            </div>
        </div>
        <a href="/" class="items" id="counter">
            <span class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/log-out.svg" alt="home" class="ms-2">
                خروج
            </span>
        </a> -->
    </div>
</div>