<div class="col-2 sideMenu text-light">

    <div class="row row-cols-1">
        <div class="picureLogo">
            <img src="/pictures/menProfile.svg" alt="profile" class="profileLogo">
        </div>

        <a href="/user-cPanel/counter" class="items" id="counter">
                <span class="mt-2 mx-1" style="display: inline-block;">
                    <img src="/icons/home.svg" alt="home" class="ms-2">
                    پیشخوان
                </span>
        </a>

        <a href="/user-cPanel/profile" class="items" id="userProfile">
            <span class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/user.svg" alt="home" class="ms-2">
                پروفایل
            </span>
        </a>
        
          <div class="items accordion">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/message-square.svg" alt="tickets">
            </div>
            <div style="display: inline-block;" class="my-3 mx-1">
                <p> تیکت ها </p>
            </div>
        </div>
        <div class="accordion-panel">
            <a href="/user-cPanel/ticket/showTickets">
                    <div class="subItems" id="showTickets">
                      <div class="mt-2 me-4" style="display: inline-block;">
                          <img src="/icons/message-square.svg" alt="tickets">
                      </div>
                      <div style="display: inline-block;" class="my-2 mx-1">
                          <p> تیکت ها </p>
                      </div>
                    </div>
            </a>
                    <a href="/user-cPanel/ticket/newTicket">
                        <div class="subItems" id="addTicket" >
                            <div class="mt-2 me-4" style="display: inline-block;">
                                <img src="/icons/plus-square.svg" alt="addTicket">
                            </div>
                            <div style="display: inline-block;" class="my-2 mx-1">
                                <p>افزودن تیکت</p>
                            </div>
                          </div>
                    </a>
        </div>
        
        <div class="items accordion">
            <div class="mt-2 mx-1" style="display: inline-block;">
                <img src="/icons/pie-chart.svg" alt="report">
            </div>
            <div style="display: inline-block;" class="my-3 mx-1">
                <p> گزارش گبری </p>
            </div>
        </div>
        <div class="accordion-panel">
            <a href="/user-cPanel/">
                    <div class="subItems" id="sellReport">
                      <div class="mt-2 me-4" style="display: inline-block;">
                          <img src="/icons/pie-chart.svg" alt="sellReport">
                      </div>
                      <div style="display: inline-block;" class="my-2 mx-1">
                          <p> گزارش فروش </p>
                      </div>
                    </div>
            </a>
                    <a href="/user-cPanel/report/ticket">
                        <div class="subItems" id="ticketReport" >
                            <div class="mt-2 me-4" style="display: inline-block;">
                                <img src="/icons/pie-chart.svg" alt="ticketReport">
                            </div>
                            <div style="display: inline-block;" class="my-2 mx-1">
                                <p> گزارش تیکت ها </p>
                            </div>
                          </div>
                    </a>
        </div>

        
    </div>
</div>