<link rel="stylesheet" href="/css/shop/errorAlert.css">

<% if(locals.errors) { %>
    <div class="col-5 mx-5 mt-3 smsAlert">
        <% Object.values(errors).forEach((error) =>{ %>
            <div class="alert alert-danger alert-dismissible fade show" id="smsAlert" role="alert">
                <%= error.msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                
            </div>
        <% }) %>
    </div>
<% } %> 

