.sample_farsi_digits {
    font-feature-settings: "ss01";
}

@font-face {
    font-family: VazirmatnPersian;
    src: url('/fonts/vazir/misc/Farsi-Digits/fonts/webfonts/Vazirmatn-FD-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: VazirmatnEngilish;
    src: url('../fonts/vazir/fonts/webfonts/Vazirmatn-Medium.woff2');
}

.enField {
    font-family: VazirmatnEngilish;
}

* {box-sizing: border-box;}

.accordion {
  cursor: pointer;
}

.accordion-panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

body {
    direction: rtl;
    margin: 0px;
    font-size: 13px;
    font-family: VazirmatnPersian;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0px;
    margin: 0px;
    font-size: 1em;
}

.imageFrame {
    height: 620px;
    width: 100%;
    background-color: rgb(10, 1, 1);
}

.mainImage {
    position: relative;
    height: 100%;
    opacity: 0.05;
}

.titleFrame {
    position: absolute;
    height: 100px;
    width: 50%;
    margin-top: -400px;
    margin-right: 25%;
}

.titleFrame h1 {
    color: rgb(112, 6, 68);
    text-align: center;
    font-size: 5em;
}

.description {
    height: 100px;
    width: 85%;
    margin: 60px 100px 20px 100px;
    font-size: 1.3em;
}

.products {
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50px ;
}

.items {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    height: 270px;
    width: 250px;
    margin: 60px 150px 0px 0px;
}

.items:hover {
    box-shadow: 0.30px 3px gray;
    cursor: pointer;
}

.items img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.items .title {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

.items .price {
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
}

.items .price img {
    height: 15px;
    width: 15px;
    color: black;
}

span {
    margin-right: 75px;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 25px;
    background-color: blueviolet;
}
