.sample_farsi_digits {
    font-feature-settings: "ss01";
}

@font-face {
    font-family: VazirmatnPersian;
    src: url('/fonts/vazir/misc/Farsi-Digits/fonts/webfonts/Vazirmatn-FD-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: VazirmatnEngilish;
    src: url('../fonts/vazir/fonts/webfonts/Vazirmatn-Medium.woff2');
}

.enField {
    font-family: VazirmatnEngilish;
}


body {
    direction: rtl;
    margin: 0px;
    font-size: 13px;
    font-family: VazirmatnPersian;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.linkColor{
    font-size: 1.3em;
    color: white;
}

.linkColor:hover {
    color: lightgray;
    transition: 0.5s;
}

.linkColor:visited {
    color: white;
}

.linkCallToMe{
    font-size: 1.3em;
    color: white;
}

.callButton {
    margin-top: 3px;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
}

.callButton :hover {
    color: lightgray;
    transition: 0.5s;
}

.dropdownMenu {
    background-color: lightgray;
    text-align: center;
}

.dropdownItem {
    background-color: lightgray;
}

.navColor {
    background-color: #020720;
}

.imageFrame {
    height: 620px;
    width: 100%;
    background-color: rgb(10, 1, 1);
}

.mainImage {
    position: relative;
    height: 100%;
    opacity: 0.05;
}

.titleFrame {
    position: absolute;
    height: 100px;
    width: 50%;
    margin-top: -400px;
    margin-right: 25%;
}

.titleFrame h1 {
    color: rgb(112, 6, 68);
    text-align: center;
    font-size: 5em;
}

.description {
    height: 100px;
    width: 85%;
    margin: 60px 100px 20px 100px;
    font-size: 1.3em;
}

.products {
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50px ;
}

.items {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    height: 270px;
    width: 250px;
    margin: 60px 150px 0px 0px;
}

.items:hover {
    border-bottom: 0.2px solid black;
    box-shadow: 1px 3px gray;
    cursor: pointer;
}

.items img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.items .title {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

.items .price {
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
}

.items .price img {
    height: 15px;
    width: 15px;
    color: black;
}

span {
    margin-right: 75px;
    padding: 10px 15px;
    margin-top: 5px;
    border: 0.5px solid lightgray;
    border-radius: 25px;
    background-color: blueviolet;
}
